@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}


<h2>Login</h2>
<div class="alert" asp-validation-summary="All"></div>
<form method="post">
    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</button>
</form>
<br />
<p>
    Or Register
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-sm"> Register</a>
</p>