@model InvoiceHeader
@{
    ViewData["Title"] = "AddLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddLine</h2>

<form method="post">

    <div class="form-row">
        <div class="col-5 form-group">
            <label asp-for="Customer"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers">
                <option selected disabled value="">selecte </option>
                <option selected value="4002"> 4002</option>
            </select>
        </div>


        <div class=" col form-group">
            <label asp-for="Total"></label>
            <input type="number" class="form-control" asp-for="Total" />
        </div>
        <div class="col-3 form-group">
            <label>Save</label>

            <button type="submit" class="btn btn-primary form-control" asp-controller="Invoice" asp-action="Create">Save</button>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Notes"></label>
        <textarea class="form-control" asp-for="Notes"></textarea>
    </div>


    <ol id="lines">
        <li id="line1" class="form-row">

            <div class="col form-group">
                <select asp-for="InvoiceDetails[0].ProductId"
                        class="form-control" asp-items="ViewBag.Products">
                    <option selected disabled value="">select </option>
                </select>
            </div>
            <div class="col form-group">
                <label id="shortCode" type="number" class="form-control" />
            </div>
            <div class="col form-group">
                <input asp-for="InvoiceDetails[0].Quantity" type="number" class="form-control" />
            </div>
            <div class="col form-group">
                <label type="number" id="price" class="form-control" data-name="price" />
            </div>
            <div class="col form-group">
                <label type="number" name="total" class="form-control" />
            </div>
            <div class="col form-group">
                <a onclick="removeLine()" class="form-control btn btn-primary btn-danger btn-sm" id="btnRemoveLine">remove </a>
            </div>
        </li>

    </ol>


    <div>
        number of lines
        <input id="numberOfLines" value="1" />
    </div>

    <div class="form-group">
        <a class="btn btn-primary " id="AddLine3">Addlilne3 </a>
    </div>
</form>



@section scripts{
    <script type="text/javascript">
        $('document').ready(function () {
            $('#selectPro').change(function () {
                var selectedOption = $('#selectPro  option:selected');
                var productId = selectedOption.val();
                console.log('selected value = ' + selectedOption.val() + '\n text :    ' + selectedOption.text());
               // alert('value = ' + selectedOption.val() + '\n text :    ' + selectedOption.text());
                $.ajax({
                    type: 'GET',
                    dataType: "json",
                    data: { 'id': productId },
                    url: '/test/getProductINfo/',
                    success: function (result) {
                        console.log(result);
                        var product = result;
                        $('#price').text(product.monopolyPrice);
                        $('#shortCode').text(product.shortCode);
                        $('#quntity').text(product.quntity);

                        console.log("price " + product.monopolyPrice);
                        $('#divResult').html(product.monopolyPrice);
                    },
                    error: function (result) {
                        console.log(result);
                        alert(result);
                    }
                });
            });
        });

        $('document').ready(function () {

            $('#btnAddline').click(function () {
                var newLineHtml = $('#newLineHtml').html();
                $('#lines').append(newLineHtml);
               // $('ol').append('<li  class="form-row"> ' + '  <div class="col form-group"> < select class= "form-control" asp - items="ViewBag.Products" > <option selected disabled value="">select </option> </select > </div > '+ ' < div class= "col form-group" > <label type="number" class="form-control"></label></div > <div class="col form-group"><input type="number" class="form-control" value="1"></div><div class="col form-group"><label type="number" class="form-control" data-name="price"></label></div><div class="col form-group"><label type="number" name="total" class="form-control"></label></div><div class="col form-group"><a onclick="removeLine()" class="form-control btn btn-primary btn-danger btn-sm" >  remove </a></div>     </li> ');
            });
            $('#newLineHtml').hide();

            $('#AddLine3').click(function () {
                var numberOfLines = $('#numberOfLines').val();
                console.log('nuomber of lines : ' + numberOfLines);
                var line1Html = $('#line1').html();
                var newLineNubmer = parseInt(numberOfLines);

                var newLineHtml = line1Html.toString().replace(/\InvoiceDetails_0/g, 'InvoiceDetails_' + newLineNubmer);
                newLineHtml = newLineHtml.replace(/\InvoiceDetails\[0]/g, 'InvoiceDetails[' + newLineNubmer + ']');
                newLineHtml = '<li id="line' + newLineNubmer + '" class="form-row">' + newLineHtml + ' </li>'; 
                console.log(' new line heml : ' + newLineHtml);

                $('#lines').append(newLineHtml);

                $('#numberOfLines').val(parseInt(numberOfLines)+1);
            });
        });

        $('document').ready(function () {
            $('#btnAddline2').click(function () {
                console.log("btnAddline2 clicked");
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: '/test/addline2',
                    success: function (result) {
                        console.log("btnaddLine2 ajax reult successed: " + result);
                    },
                    error: function (result) {
                        console.log("btnaddLine2 ajax reult error: " + result);

                        alert(result);
                    }
                });
            })

            

        });


    </script>
}